<!DOCTYPE html>

<html>
<head>
    <title>Promote Business Category Bootstrap Responsive Web Template | Home :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Promote Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- //Fonts -->

    @Styles.Render("~/Custom/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- header -->
    <header>
        <div class="container">
            <!-- nav -->
            <nav class="py-3 d-lg-flex">
                <div id="logo">
                    <h1> <a href="@Url.Action("Index", "Home")"><span class="fa fa-rocket"></span> Promote </a></h1>
                </div>
                <label for="drop" class="toggle"><span class="fa fa-bars"></span></label>
                <input type="checkbox" id="drop" />
                <ul class="menu ml-auto mt-1">
                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li class=""><a href="#about">About Us</a></li>
                    <li class=""><a href="#services">Services</a></li>
                    <li class=""><a href="#portfolio">Portfolio</a></li>
                    <li class=""><a href="#contact">Contact</a></li>
                    <li class="last-grid"><a href="#register">Register now</a></li>
                </ul>
            </nav>
            <!-- //nav -->
        </div>
    </header>
    <!-- //header -->
    <div class="">
        @RenderBody()
    </div>
   
    <!-- copyright -->
    <div class="copyright">
        <div class="container py-4 mb-0">
            <div class=" text-center">
                <p>© 2019 promote. All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a> </p>
            </div>
        </div>
    </div>
    <!-- //copyright -->
    <!-- move top -->
    <div class="move-top text-right mb-0">
        <a href="#home" class="move-top">
            <span class="fa fa-angle-up  mb-3" aria-hidden="true"></span>
        </a>
    </div>
    <!-- move top -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
